@media only screen and (max-width: 600px) {

    header {
        height: 15vw;
    }

    input, ::placeholder {
        border-radius: 0;
        font-size: 12vw;
        height: 15vw;
    }

    header img {
        width: 9%;
    }

    #pokedex {
        padding-top: 15vw;
    }

    .card {
        width: 29%;
        margin: 2.1vw;
        margin-bottom: 3.5vw;
        height: 24.5vw;
    }

    .card-face, .card-face:hover, card-back {
        border-radius: 3vw;
        border-width: 3px;
    }

    .stats {
        padding-bottom: 1vw;
    }

    .type p {
        font-size: 1.5vw;
        padding: .6vw;
    }

    h4 {
        font-size: 3.9vw;
    }

    h5 {
        font-size: 2.4vw;
    }

    footer div, footer a {
        font-size: 2.1vw;
    }
}