@media only screen and (max-width: 600px) {

    header {
        height: 15vw;
    }

    input, ::placeholder {
        border-radius: 0;
        font-size: 12vw;
        height: 15vw;
    }

    header img {
        width: 9%;
    }

    #pokedex {
        padding-top: 15vw;
    }

    .card {
        width: 28%;
        margin: 2.1vw;
        margin-bottom: 3.5vw;
        height: 33vw;
    }

    .card-front, .card-face:hover, .card-back {
        border-radius: 3vw;
        border-width: 3px;
    }

    .card-front .title {
        padding-top: 1vw;
    }

    .card-front img {
        height: 28vw;
    }

    .card-back img {
        height: 21vw;
    }

    .card-back .title {
        font-size: 3.6vw;
    }

    .stats {
        padding-bottom: 1vw;
    }

    .type p {
        font-size: 1.5vw;
        padding: .6vw;
    }

    h4 {
        font-size: 4.5vw;
    }

    h5 {
        font-size: 2.4vw;
    }

    footer div {
        font-size: 1.8vw;
    }

    footer a {
        font-size: 2.4vw;
    }
}