/* COLOUR SCHEME */
main {
color: #FFDE00;
color: #B3A125;
color: #3B4CCA;
color: #CC0000;
color: #FF0000;
}

/* FONTS */
@font-face {
    font-family: "EvioliteRegular";
    src: url(../fonts/EvioliteRegular.ttf);
}
@font-face {
    font-family: "PokemonGb";
    src: url(../fonts/PokemonGb.ttf);
}

h1, h2, h3, h4, h5, a, p, header input {
    font-family: "EvioliteRegular";
    text-decoration: none;
    color: #CC0000;
    font-weight: 400;
    margin: 0;
}

p, div, button {
    font-family: "PokemonGb";
    font-size: 12px;
}

h1 {
    font-size: 6vw;
}

h2 {
    font-size: 4.5vw;
}

h3 {
    font-size: 3.6vw;
}

h4 {
    font-size: 2.7vw;
}

h5 {
    font-size: 2.4vw;
}

a, p {
    font-size: .9vw;
}

/* SPECS */
body {
    margin: 0;
    background-color: #f0eee0;
}

/* HEADER */
header {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    align-content: stretch;
}

input, ::placeholder {
    width: 69%;
    background-color: transparent;
    border: 0;
    font-size: 9.9vw;
    color: #3B4CCA;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

input:focus {
    color: #CC0000;
    outline: none !important;
}

::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

header img {
    width: 9%;
}

header img:hover, header h3:hover {
    cursor: pointer;
}

input:hover, header img:hover {
    opacity: 87%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    padding-left: 3%;
}

header h3 {
    margin: 0;
}

/* MAIN */
#pokedex {
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 5px #B3A125 solid;
    background-color: white;
    cursor: pointer;
    border-radius: 1.5em;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-top: .9vw;
    padding-bottom: .9vw;
    height: fit-content;
    width: 18%;
}

.card:hover {
    border: 5px #FFDE00 solid;
}

img {
    width: 80%; 
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.type p {
    background-color: rgb(152, 105, 212);
    padding: .6vw;
    border-radius: 9px;
    color: #fefefe;
    font-size: 1.5vw;
}

.type p:hover {
    opacity: 81%;
    color: #ebe8d7;
}

/* MODAL */
.hidden {
    visibility: hidden;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #f0eee0;
  }
  
  /* Modal Content/Box */
  .modal-card {
    background-color: #fefefe;
    margin: 9% auto;
    padding: 3vw;
    border: 5px solid #B3A125;
    border-radius: 15px;
    width: 45%;
    display: block;
    text-align: center;
  }

 #close {
      width: 4.2vw;
      height: 4.2vw;
  }

  #insignia, .evolve-transition {
    width: 3.3vw;
    height: 3.3vw;
}

  #insignia {
      padding-right: 1vw;
  }

  #pokemon-image {
      width: 39vw;
  }
  
  #close {
    float: left;
  }
  
  #close:hover, #close:focus {
    cursor: pointer;
  }

  .modal .type {
      font-size: 1.8vw;
      padding: 1.2vw;
  }

  .modal .type:hover {
      cursor: pointer;
  }

  #height-weight, #ability-species, .modal .type, #evolutions,   #card-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #card-title {
    justify-content: center;
    margin-top: 1vw;
  }

  .evolution {
      margin-top: 1.2vw;
      width: 9vw;
  }

  .evolution:hover {
      cursor: pointer;
  }

  #collection-button {
    border: 0;
    background-color: #CC0000;
    font-size: 1.8vw;
    color: #fff5b3;
    border-radius: 9px;
    padding: 1.2vw;
    margin-top: 2.4vw;
  }

  #collection-button:hover {
    background-color: #B3A125;
    cursor: pointer;
  }

/* FOOTER */
footer {
    text-align: center;
    margin-top: 6em;
}

footer div {
    font-size: .9em;
}

footer a {
    font-size: 1.8em;
}