/* COLOUR SCHEME */
:root {
--light: #f0eee0;
--yellow: #FFDE00;
--gold: #B3A125;
--blue: #3B4CCA;
--maroon: #CC0000;
--red: #FF0000;
}

/* FONTS */
@font-face {
    font-family: "EvioliteRegular";
    src: url(../fonts/EvioliteRegular.ttf);
}
@font-face {
    font-family: "PokemonGb";
    src: url(../fonts/PokemonGb.ttf);
}

h1, h2, h3, h4, h5, a, p, header input {
    font-family: "EvioliteRegular";
    text-decoration: none;
    color: var(--maroon);
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 6vw;
}

h2 {
    font-size: 4.5vw;
}

h3 {
    font-size: 2.7vw;
}

h4 {
    font-size: 2.4vw;
}

h5 {
    font-size: 1.5vw;
}

p, div, button {
    font-family: "PokemonGb";
    font-size: .9vw;
}

a {
    font-family: "EvioliteRegular";
}


/* SPECS */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--light);
}

/* HEADER */

header {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    align-content: stretch;
    background-color: var(--light);
    height: 6.9vw;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
}

input, ::placeholder {
    width: 82.5%;
    background-color: transparent;
    border: 0;
    font-size: 6vw;
    color: var(--blue);
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    border-radius: 0;
    height: 10vw;
}

input:focus {
    color: var(--maroon);
    outline: none !important;
}

::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

header img {
    width: 4.5%;
}

header img:hover {
    cursor: pointer;
}

input:hover, header img:hover {
    opacity: 87%;
}

/* MAIN */

#pokedex {
    padding-top: 9vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}

.card {
    margin: 0;
    height: 21vw;
    width: 17.2%;
    cursor: pointer;
    border-radius: 1vw;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
    border: 5px var(--gold) solid;
    text-align: center;
    background-color: #faf9f5;
}

.card:hover {
    border: 5px var(--yellow) solid;
}

.card img {
    width: 12vw;
}

.type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1vw;
}

.type p {
    background-color: rgb(152, 105, 212);
    padding: .45vw;
    border-radius: 9px;
    color: #fefefe;
}

.card button {
    padding: .3vw;
    border: 3px var(--maroon) solid;
    border-radius: .6vw;
    color: var(--maroon);
}

.card button:hover {
    background-color: var(--maroon);
    color: var(--light);
}

.card button:focus {
    background-color: var(--blue);
    color: var(--light);
    border: 3px var(--blue) solid;
}


/* MODAL */

.hidden {
    visibility: hidden;
}

.modal {
    background-color: rgba(240, 238,224, 0.69);
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 1;
}

.modal-inner {
    background-color: #fefefe;
    margin: 9% auto;
    padding: 1.2vw;
    border: 5px solid var(--blue);
    border-radius: 15px;
    width: 21vw;
    height: 27vw;
    display: block;
    text-align: center;
    box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
}

#modal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#close {
    width: 3vw;
    height: 3vw;
    float: left;
    cursor: pointer;
}

#insignia {
    width: 2.4vw;
    height: 2.4vw;
}

#pokemon-image {
    width: 18vw;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 6em;
}

footer div {
    font-size: .9em;
}

footer a {
    font-size: 1.8em;
}